<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="Online shop">
    <meta name="keywords" content="Shop, online shop, ecommerce, online product">
    <meta name="author" content="Spyridon Gkriniaris">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <carousel>
        <slide>
            <img src="../../assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../assets/images/hero2.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
            <img src="../../assets/images/hero3.jpg" alt="first slide" style="display: block; width: 100%;">
        </slide>
    </carousel>

    <section class="feature">
        <div class="d-flex justify-content-center pt-4">
            <h1>Welcome to the Shop!</h1>
        </div>
    </section>
</body>
</html>
