<div class="mt-4" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Shipping address</h4>
        <button 
            (click)="saveUserAddress()" 
            class="btn btn-outline-success mb-3"
            [disabled]="!checkoutForm.get('addressForm').valid || !checkoutForm.get('addressForm').dirty">
            Save as default address
        </button>
    </div>
    <div class="row" formGroupName="addressForm"> <!--name is accurate based on formgroup when declaring the reactive form in checkout component-->
        <div class="form-group col-6">
            <app-text-input [controlName]="'First Name'" formControlName="firstName"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [controlName]="'Last Name'" formControlName="lastName"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [controlName]="'Street'" formControlName="street"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [controlName]="'City'" formControlName="city"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [controlName]="'State'" formControlName="state"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [controlName]="'Zip Code'" formControlName="zipCode"></app-text-input>
        </div>
    </div>
</div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" routerLink="/basket">
        <i class="fa fa-angle-left"></i> Back to Basket
    </button>
    <button class="btn btn-primary" cdkStepperNext>
       Go to Delivery <i class="fa fa-angle-right"></i>
    </button>
</div>