
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

// .loader {
//     position: absolute;
//     width: auto;
//     top: 15px;
//     right: 10px;
//     margin-top: 0;
// }